version: "3.8"

services:
  postgres:
    image: postgres:15 # Versiond de imagen
    container_name: postgres_container
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:${POSTGRES_PORT}" # Puerto
    volumes:
      - postgres_data:/var/lib/postgresql/data # Persistencia de datos
    restart: always

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_container
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    ports:
      - "5672:5672"   # AMQP
      - "15672:15672" # Management UI
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go_streaming_service
    env_file:
      - .env
    ports:
      - "3003:${PORT}"
    environment:
      DB_HOST: postgres
      DB_PORT: ${POSTGRES_PORT}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
    depends_on:
      - postgres
      - rabbitmq
    volumes:
      - .:/app
    command: ["go", "run", "main.go"] # Comando para INICIAR EL SERVIDOR

volumes:
  postgres_data:
  rabbitmq_data:
